<div class ="column">
<div class="card">
  <div class="card-content">
      <p> <%= link_to listing.name, listing %></p>
  </div>

  <footer class="card-footer">
    <p class ="card-footer-item">
        host_id: <%= listing.id%>
    </p>
  <p class ="card-footer-item">
    hosttttt: <%=link_to listing.host.name,listing%>
  </p>
<p>

</p>
</footer>
</div>
</div>