 <h3 class="title is-4">Listings</h3>
 <div class="columns is-mobile is-centered">
<div class="column is-half">
 <table>
      <thead>
        <tr>
          <th><%= paginate @listings %> </br ></th>
        </tr>

      </thead>
      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= link_to listing.name,listing%></td>

          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>