<div class="columns is-mobile is-centered">
      <div class="column is-half">
      <h3 class="title is-4">Hosts</h3>
      <%= paginate @hosts %> </br >
       <% @hosts.each do |host| %>
          <div class="columns">
        <div class="column">
         <%= link_to host.name,host if host.listings.count>0%>
        </div>
        <div class="column">
         <%=host.listings.count%> listing(s)
        </div>
      </div>
      <% end %>
      </div>
      </div>