 <h3 class="title is-4">Hosts</h3>
 <div class="columns is-mobile is-centered">
<div class="column is-half">
 <table>
      <thead>
        <tr>
          <th><%= paginate @hosts %> </br ></th>
        </tr>
      </thead>
      <tbody>
        <% @hosts.each do |host| %>
          <tr>
            <td><%= link_to host.name,host%></td>

          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>