<div class="container">
  <div class="notification">
  <p>
  The data source I chose is the Airbnb room listing in New York city from kaggle.com
  </p>
  <p>
    I will create 4 tables which is Host , Room , Listing and Location. This is the erb shows how the data is strutured:
  </p>
    <img src="/data.jpg" alt="data">

  </div>
</div>