      <div class="columns is-mobile is-centered">
      <div class="column is-half">
      <h3 class="title is-4">Locations</h3>
       <% @locations.each do |location| %>
          <div class="columns">
        <div class="column">
         <%= link_to location.area,location%>
        </div>
        <div class="column">
          <%= link_to location.listing.name,location.listing%>
        </div>
      </div>
      <% end %>
      </div>
      </div>