
 <table>
      <thead>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td></td>
            <td></td>

          </tr>
          <tr>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>

      <h3 class="title is-4">Hosts</h3>
      <div class="columns is-mobile is-centered">
      <div class="column is-half">
          <div class="columns">
        <div class="column">
         <%= link_to location.area,location%>
        </div>
        <div class="column">
          <%= link_to location.listing.name,location.listing%>
        </div>
      </div>
      </div>
      </div>