<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@location.latitude},#{@location.longtitude}&key=AIzaSyCAlF4KAUweuTecR2976dDy3XZtIrWo-p0", alt: "Map" %>
</p>

<div>
  <p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@location.latitude},#{@location.longtitude}&key=AIzaSyCAlF4KAUweuTecR2976dDy3XZtIrWo-p0", alt: "Map" %>
</p>
</div>